/* 动画 */
@keyframes bg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes login {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

html,
body,
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    min-width: 1600px;
}

/* 背景 */
.background {
    display: flex;
    /* flex-direction: row-reverse; 根据图片需求可以修改表单所处位置*/
    width: 100%;
    height: 100vh;
    background: url("../images/login.jpg") no-repeat center;
    background-size: cover;

    animation: bg 0.5s;
}

/* 标题 */
.title {
    position: absolute;
    top: 32px;
    left: 32px;
    margin: 0;
    font-size: 28px;
    letter-spacing: 6px;
    text-decoration: none;
    color: white;
    z-index: 1;
}

/* 登录表单域 */
.login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 100%;
    background: rgb(143, 132, 100, .4);
    backdrop-filter: blur(16px);

    animation: login 1.2s;
}

.login-block .login-title {
    font-size: 32px;
    color: white;
}

.login-block .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.login-block .login-form input {
    width: 100%;
    height: 42px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: white;
    padding: 0px 8px;
    text-align: center;
    transition: all 0.5s;
    margin-bottom: 32px;
}

.login-block .login-form input::placeholder {
    color: white !important;
}

.login-block .login-form input:focus {
    border-bottom: 1px solid rgb(255, 125, 147);
}

.login-block .login-form button {
    background-color: rgb(255, 125, 147);
    width: 320px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 0px;
    display: block;
    cursor: pointer;
    margin-bottom: 32px;
}

.login-block .login-form button:hover {
    opacity: 0.5;
}

.login-block .link {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.login-block .link a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.login-block .link a:hover {
    color: rgb(255, 125, 147);
}